<h1>Listing Snapshots for server <%= @server.name %></h1>

<table>
  <tr>
    <th>ID</th>
    <th>Volume</th>
    <th>Status</th>
    <th>Started</th>
    <th>Buckets</th>
  </tr>

<% @snapshots.each do |snapshot| %>
  <tr>
    <td><%= snapshot.id %></td>
    <td><%= snapshot.volume_id %></td>
    <td><%= snapshot.state %></td>
    <td><%= snapshot.created_at %></td>
    <td><%= snapshot.frequency_buckets.join(", ") %></td>
  </tr>
<% end %>
</table>
