<p id="notice"><%= notice %></p>

<p>
  <b>Backup taken:</b>
  <%= @backup.backup_taken %>
</p>

<p>
  <b>Bucket:</b>
  <%= @backup.bucket %>
</p>

<p>
  <b>Volume:</b>
  <%= @backup.volume_id %>
</p>


<%= link_to 'Edit', edit_backup_path(@backup) %> |
<%= link_to 'Back', backups_path %>
